<div class="flex flex-row text-2xl px-4 pt-4">
  <input type="text" id="<%=dom_id(list, 'title')%>"
    class="flex-grow bg-transparent disabled:bg-transparent p-1 rounded focus:outline-none focus:ring-green-600 focus:ring-2"
    <%= list.is_name_editable? ? "" : "disabled" %>
    data-list-target="title"
    data-action="input->list#rename keypress->list#insertOnEnter keydown->list#keydown blur->list#blur paste->list#paste"
    data-reflex-dataset="combined"
    value="<%= list.is_name_editable? ? list.editable_name : list.name %>"/>

  <% if list == list.user.plan_list %>
    <%= link_to t(:finish_planning), complete_plan_path, class: "bg-green-600 rounded px-3 text-white border-4 border-transparent hover:bg-green-100", method: :post %>
  <% end %>
</div>

<div id="<%=dom_id(list, 'items')%>" class="px-2" data-list-target="items" data-controller="sortable" data-sortable-name-value="List" data-sortable-handle=".handle">
  <% list.todos.each do |todo| %>
    <%= render partial: 'todos/entry', locals: { todo: todo } %>
  <% end %>
</div>

<div class="hidden" data-list-target="template">
  <%= render partial: 'todos/entry', locals: { todo: Todo.new } %>
</div>