<input type="text" id="list-title-<%=list.id%>"
  class="list-title"
  <%= list.is_name_editable? ? "" : "disabled" %>
  data-list-target="title"
  data-action="input->list#rename keypress->list#keypress keydown->list#keydown blur->list#blur paste->list#paste"
  data-reflex-dataset="combined"
  value="<%= list.is_name_editable? ? list.editable_name : list.name %>">
</span>

<div id="list-items-<%=list.id%>" data-list-target="items" data-controller="sortable" data-sortable-name-value="List">
  <% list.todos.each do |todo| %>
    <%= render partial: 'todos/entry', locals: { todo: todo } %>
  <% end %>
</div>