<div id="<%=dom_id(list, 'header')%>">
  <%= render partial: 'lists/panel_header', locals: { list: list } %>
</div>

<div id="<%=dom_id(list, 'items')%>" class="px-2" data-list-target="items" data-controller="sortable" data-sortable-name-value="List" data-sortable-handle=".handle">
  <% list.todos.each do |todo| %>
    <%= render partial: 'todos/entry', locals: { todo: todo } %>
  <% end %>
</div>

<%= render partial: 'todos/entry', locals: { todo: Todo.new } %>
