<p id="notice"><%= notice %></p>

<h1>
  <%= @list.name %>
</h1>

<div>
  <% @list.todos.each do |todo| %>
    <%= render partial: 'todos/entry', locals: { todo: todo } %>
  <% end %>
  <div data-target="list.template">
    <div data-role="todo-title"></div>
  </div>
</div>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
