<p id="notice"><%= notice %></p>

<h1>
  <%= @list.name %>
</h1>

<div data-controller="list" data-list-animation="150" data-list-handle=".handle" data-list-resource-name="todo">
  <% @list.todos.each do |todo| %>
    <%= render partial: 'todos/entry', locals: { todo: todo } %>
  <% end %>
</div>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
