<div class="bg-white flex-1 rounded space-y-4 pb-2 w-full">
  <div class="flex flex-row text-xl sm:text-2xl px-4 pt-4 text-center">
    <span class="flex-grow bg-transparent p-1 rounded">
      Sign up
    </span>
  </div>

  <div class="px-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field py-1">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border rounded border-green-600 w-full" %>
      </div>

      <div class="field py-1">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "border rounded border-green-600 w-full" %>
      </div>

      <div class="field py-1">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border rounded border-green-600 w-full" %>
      </div>

      <div class="field py-1">
        <%= f.label :time_zone %><br />
        <%= f.select :time_zone, time_zone_options_for_select(f.object.time_zone, nil, ActiveSupport::TimeZone), {}, { class: "max-w-full" } %>
      </div>

      <div class="actions py-1">
        <%= f.submit "Sign up", class: "bg-green-600 rounded px-3 w-full text-white text-center border-4 border-transparent hover:bg-green-100" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>