<div id="<%=dom_id(list_set)%>"
      class="bg-white text-black p-2 border border-green-100 rounded"
      data-controller="update"
      data-update-name-value="ListSet"
      data-update-id-value="<%=list_set.id%>" >
  <% if local_assigns[:title] %>
    <div><%=title%></div>
  <% end %>
  <div id="<%=dom_id(list_set, 'contents')%>">
    <%= render partial: 'list_sets/items', locals: { list_set: list_set } %>
  </div>
  <%= yield %>
</div>
