<!DOCTYPE html>
<html>
  <head>
    <title>Cue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller="radiolabel" data-radiolabel-duration-value="2">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to(t(:home), root_path) %>
    <% if user_signed_in? %>
      <%= link_to(t(:log_out), destroy_user_session_path, method: :delete) %>
      <%= link_to(t(:profile), edit_user_registration_path) %>
    <% elsif controller_name != 'sessions' %>
      <%= link_to(t(:log_in), new_user_session_path) %>
    <% else %>
      <%= link_to(t(:sign_up), new_user_registration_path) %>
    <% end %>

    <div id="sidebar">
      <% List.all.each do |list| %>
        <div>
          <%= link_to(list.name, list) %>
        </div>
      <% end %>
      <%= link_to "Make a plan", "#" %>
    </div>

    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>
</html>
