<!DOCTYPE html>
<html>
  <head>
    <title>Cue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-green-600 text-white font-sans sm:px-4 pt-4"
        data-controller="radiolabel" data-radiolabel-duration-value="2">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= link_to(root_path) do %>
      <%= image_tag('logo.png', height: '27', width: '120') %>
    <% end %>

    <% if user_signed_in? %>
      <%= image_tag(current_user.gravatar_url, size: '30x30', alt: current_user.email) %>
      <%= link_to(t(:log_out), destroy_user_session_path, method: :delete) %>
      <%= link_to(t(:profile), edit_user_registration_path) %>
    <% elsif controller_name != 'sessions' %>
      <%= link_to(t(:log_in), new_user_session_path) %>
    <% else %>
      <%= link_to(t(:sign_up), new_user_registration_path) %>
    <% end %>

    <% if user_signed_in? %>
      <%= render partial: 'sidebar' %>
    <% end %>

    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>
</html>
